@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.landing{
    background-image: url('../../images/wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.title{
  display: flex;
  font-family: 'Lobster';
  color: rgb(174, 219, 234)
}
.subtitle{
    display: flex;
    font-family: 'Lobster';
    color: rgb(174, 219, 234)
}

/* #botonHome {
    display: flex;
    color: aqua;
    justify-content: center;
    align-self: flex-end;
    border: 1px solid red;
    background-color: blueviolet;
    border: 2px solid blueviolet;
    border-radius: 5%;   
} */

/* button{
    display: flex;
    color: aqua;
    justify-content: center;
    padding-left: 20px;
    
} */

.landingWrapper{
    float: right;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
}

.glow-on-hover {
    
    border: none;
    outline: none;
    color: #fff;
    background: rgb(1, 37, 49);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    justify-content: center;
    float: right;
    margin: 20px;
    padding: 0px 50px
    
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 15px;
    
    
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(246, 246, 248, 0);
    left: 0;
    top: 0;
    border-radius: 15px;
}

/* .linkto{
    text-decoration: none;
    color: rgb(250, 250, 250);;
    font-family: 'Lobster';
    font-size: medium;
    
} */

.buttonText{
    text-decoration: none;
    color: rgb(250, 250, 250);;
    font-family: 'Lobster';
    font-size: x-large;
    letter-spacing: 1px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}