@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


* {
	box-sizing: border-box;
}


.logo{
    /* display: flex;*/
    height: 60px;
    width: 60px;
    /* margin-left: 0px;*/
    background-color: transparent;
}

.navContainer{
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    width:100%;
    height:100%;
    
    
}

.navbar{
    background-color: transparent;
    width: 100%;
    height: 4vw;
    
    /* overflow: hidden; */
}

.textPokedex{
    display: flex;
    align-items: center;
    font-family: 'Lobster';
    font-size: xx-large;
    margin-left: 12rem;
    color: rgba(0, 187, 255, 0.835)
}

.searchBar {
    display: flex;
    flex-direction: row;
    width:20%;
    height:2vw;
}

.divLogo{
    /* padding-right: 500rem;
    align-items: center; */
    width:10%;
    height:2vw;
    padding-top: 0.5vw;
    padding-right: 5vw;
}
