.card{
    display: grid;
    padding: 5px;
    border: 1px solid blue;  
    border-radius: 20px;  
    background-color: rgba(34, 127, 181, 0.387);
    width: 30vw;
    margin-bottom: 1rem;
    gap: 1rem;
    transition: box-shadow 1s;  
}

.card:hover{
    display: grid;
    padding: 5px;
    border: 1px solid blue;  
    border-radius: 20px;  
    background-color: rgba(118, 127, 133, 0.387);
    width: 30vw;
    margin-bottom: 1rem;
    gap: 1rem;
    box-shadow: 0px 0px 11px rgba(255, 1, 1, 0.2);
}


.pokeImg{
    max-width: 15rem;
    min-height: 10rem;
}
.pokemon{
  
    display: block
    
}

.list{
    display: inline;
}

.link{
    text-decoration: none;
    font-family: 'Lobster';
    color: rgba(249, 249, 249, 0.835);
    font-size:xxx-large;
    
}

.types{
    font-family: 'Lobster';
    color: rgba(15, 248, 186, 0.835);
    font-size:xx-large;
}