.spinner{
    border: 4px solid rgba(236, 236, 236, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: transparent;

    animation: spin 1s linear infinite;

}

@keyframes spin{
    0%{
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}