@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
}

.home {
    background-image: url('../../images/wallPaperPokebola.jpg');
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

ul {
    list-style-type: none;
}

.pokemonList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.upperContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.text{
    font-family: 'Lobster';
    color: rgba(0, 187, 255, 0.835);
}

.filters{
    display: flex;
    flex-direction: row;
    
    
}
.filterType{
   
    margin-right: 4rem;
}

.filterOrigin{
   
    margin-right: 2rem;
}

