@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
}

.home {
    /* background-image: url('../../images/wallpaper.jpg'); */
    background-color: rgb(18, 41, 78);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    min-height: 100%;
    min-width: 100%;
    width: 100%; 
    height: auto;
    position: absolute;
    top: 0;
    left: 0; 
}

ul {
    list-style-type: none;
}

.pokemonList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.upperContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.text{
    font-family: 'Lobster';
    color: rgba(0, 187, 255, 0.835);
    font-size: xx-large;
    letter-spacing: 1px;
    transition: 0.5s;
}



.textClick{
    font-family: 'Lobster';
    color: rgba(0, 187, 255, 0.835);
    font-size: xx-large;
    letter-spacing: 1px;
    transition: 0.5s;
}

.textClick:hover{
    font-family: 'Lobster';
    color: rgba(255, 47, 0, 0.835);
    font-size: xx-large;
    letter-spacing: 1px;
}

.filters{
    display: flex;
    flex-direction: row;
    
    
}
.filterType{
   
    margin-right: 4rem;
}

.filterOrigin{
   
    margin-right: 2rem;
}

.list-title{
    font-family: 'Lobster';
    color: rgba(0, 187, 255, 0.835);
    font-size: xx-large;
    letter-spacing: 1px;
}

.linkTitle{
    text-decoration: none;
}
.linkSubtitle{
    text-decoration: none;
}

.create{
    margin-left: 290px;
}

.linkSubtitle:hover{
    color:brown
}

.sort{
    margin-left: 20px;
}

