@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.detailCard{
    display: grid;
    padding: 5px;
    border: 1px solid blue;  
    border-radius: 20px;  
    background-color: rgba(34, 127, 181, 0.387);
    width: 30vw;
    margin-bottom: 1rem;
    gap: 1rem;
}

.detailBody{
    display: flex;
    justify-content: center;
    background-image: url('../../images/wallPaperPokebola.jpg');
    background-size: cover;
    flex-direction: column;
    background-size: cover;
    align-items: center;
}

.textDetail{
    font-family: 'Lobster';
    color: rgba(0, 187, 255, 0.835);
    font-size: xx-large;
    letter-spacing: 1px;
}

.homebutton{
    text-decoration: none;
    font-family: 'Lobster';
    color: rgba(0, 187, 255, 0.835);
    font-size: xx-large;
    letter-spacing: 1px;
}

/* .detailImg{
    max-width: 20rem;
    min-height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
} */